body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chat-container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  max-height:700px ;
}

#messages {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  height: 400px;
  min-height: 400px;
}

#message-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  background-color: #f8f8f8;
  outline: none;
  border-radius: 0 0 15px 15px;
}

button {
  padding: 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.user {
  color: #000000;
}

.assistant {
  color: #2f6c32;
}